body{
	background-color: #fafafa;

}
ul{
	padding: none;
}
li{
	list-style-type: none;
}
#checkIn{
	background-color: #fff;
	border: solid 1px #ededed;
	width: 350px;
}
#checkIn input{
	display: table;
	background-color: #fafafa;
	height: 30px;
	border: solid 1px #f3f3f3;
	margin: auto;
	margin-bottom: 5px;
	border-radius: 2px;
	width: 85%;
}
#checkIn input::placeholder{
	color: #b0b0b0;
	font-size: 15px;
	position: relative;
	right: -10px;
}
#checkIn a, button{
	display: table;
	background-color: #3897f0;
	height: 500;
	border: none;
	color: #fff;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.lines{
	margin-bottom: 10px;
	margin-top: 10px;
}
.line{
	width: 40%;
	background-color: #fafafa;
	display: inline-block;
	padding-top: 1px; 
	position: relative;
	top: 15px;

}
.line-Word{
	margin: 5px;
}
#users{
	background-color: #fff;
	width: 350px;
	border: solid 1px #ededed;
}
#users ul{
	padding-left: 0px;
}
#users li{
	border-bottom: solid 1px #ededed;
	height: 50px;
}
#UserName{
	font-size: 5em;
}
.userLogin{
	font-size: 20px;
}
.userEmail{
	font-size: 10px;
	float: right;
	color: #000;
}
.fi{
	color: #000;
}
@media (max-width: 450px){
	#checkIn{
	background-color: #fafafa;
	border: none;
	width: 100%;
}
#users{
	background-color: #fafafa;
	width: 100%;
	border: none;
}
.userEmail{
	display: none;}
}